<form action="/items" method="GET">
  <div class="mt-0">
    <i class="bi bi-sort-alpha-down"></i>
    <select class="form-control-sm mb-2 sort" name="item_sort_option" onchange="this.form.requestSubmit()">
      <option disabled="disabled" selected="selected" value="">Sort by</option>
      <option value="date_desc" <%="selected" if session[:item_sort_option] == "date_desc"%> >date</option>
      <option value="topic" <%="selected" if session[:item_sort_option] == "topic"%> >topic</option>
      <option value="subtopic" <%="selected" if session[:item_sort_option] == "subtopic"%> >subtopic</option>
    </select>
  </div>
</form>