.canvas {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  &.gray100-canvas {
    background-color: $gray-100;
  }
  &.embossed {
    box-shadow: 1px 3px 6px $black;
    border-radius: 0.375rem;
  }
  .cancel {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}