div.admin-table {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin: 0 auto;
  color: $black;
  box-shadow: 1px 3px 6px #000000;
  border-radius: 0.375rem;    
  &.overflow {
    overflow-x: auto;
  }
  .row  {
    background-color: #e9e9e9;
    margin: 0;
    &.extra-small .column {
      font-size: 0.5rem;
      padding: 5px;        
      @include media-breakpoint-up(md) {
        font-size: 0.8rem;  
        }
    } 
    &.with-gradient {
      background-color: $white;
      background: linear-gradient($gray-700, $gray-200);
      box-shadow: none;
    }            
  }
  &.striped {
    .row:nth-child(even) {
      background-color: $gray-200;       
    }
  }
  &.narrow {
    @include media-breakpoint-up(md) {
      width: 50%;
      margin-left: 0;
      }  
  }
  &.reduce-size {
    @include media-breakpoint-down(md) {
      font-size: 85%;
      }      
  }

  .column {
    flex: 0.25;
    overflow: hidden;      
    padding: 5px;
    border-right: 1px solid #ccc;
    transition: background-color 0.3s ease;
    @include media-breakpoint-up(md) {
      padding: 10px;          
      }      
    &.extra-small{
      font-size: 0.7rem;
      padding: 5px;
      @include media-breakpoint-up(md) {
        font-size: 1.0rem;
        padding: 10px;          
        }
    }
    &:last-child {
      border-right: none;
    }
    &:hover {
      background-color: #ddd;
    }
  }
  .col-05x {
    flex: 0.5;
    overflow: auto;
  }
  .col-1x {
    flex: 1;
    overflow: auto;
  }
  .col-2x {
    flex: 2;
    overflow: auto;
  }
  .col-3x {
    flex: 3;
    overflow: auto;
  }
  // accommodate extra width of student icon when needed    
  .col-2x-sm {
    flex: 2;
    overflow: auto;
    @include media-breakpoint-up(sm) {
      flex: 1;
    }  
  }

  .adj-line-height {
    line-height: 1.5rem;
  }
}