.flash {
  position:fixed;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: max-content;
  z-index: 1;

  &__message {
    animation: appear-then-fade 8s both;
    border-radius: 999px;
    border-width: 0;
    padding: 1rem;
  }
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity:0
  }
  5%, 60% {
    opacity:1
  }
}
