.fs-7 {
  font-size: $font-size-base * 0.9;
}

.fs-8 {
  font-size: $font-size-base * 0.8;
}

.fs-9 {
  font-size: $font-size-base * 0.8;
  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.0;
  }
}
