%select {
  color: $gray-700;
  border: solid;
  border-color: $gray-50;
  border-width: 1px;
  background-color: $gray-50;
}

select.sort {
  @extend %select;
  padding: 0.1rem 0.5rem;  
  // min-height: calc(1.5em + 0.5rem + 2px);    
}

select.booking {
  @extend %select;
}

.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  border-radius: 0.2rem;
}

form fieldset {
  color: $gray-800;
  font-family: $font-stack;
  font-size: 0.9em;
  font-weight: normal;
  label {
    margin-right: 0.5rem;
    margin-bottom: 0.4rem;
    line-height: 0.7rem;
  }
}

legend {
  width:auto;
  font-size: 0.9rem;
  font-weight: normal;
  padding-right: 0.75rem;
}

.chbox-lbl-filters {
  font-size: 0.8rem;
}

label {
  display: block;
  line-height: 1.1rem;
  }

/*couldn't get to the bottom of why this is needed but checkbox and checkbox label misaligned without */
input[type="checkbox"] {
  vertical-align: middle
}

.searchdelete {
  margin-left:auto;
}

div.field, div.actions {
  margin-bottom: 0.4rem;
  .confirmation {
  font-size: 80%;
  padding-left :1rem;
  margin-bottom :0;
}
input.disabled {
  pointer-events: none;
  opacity: 30%;
  }
  &.reduce input {
    font-size: 80%;
    text-transform: lowercase;
    padding: 0.25rem;
  }  
}

div.actions input {
  background-color: $black;
  border-color: $black;
  color: $white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem $gray-800;
  text-transform: uppercase;
  &:hover {
    opacity: 0.8;
    box-shadow: none;    
  }
}

div.image_actions input {
  vertical-align:middle;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem $gray-800;
  font-size: 0.8em;
  transform: scale(0.8);
  &:hover {
    opacity: 0.8;
    box-shadow: none;    
  }
}

form {
  &.admin_form {
    position: relative; //for benefit of cancel button
    background-color: $gray-100;
    padding: 0.5rem;
    box-shadow: 1px 3px 6px $black;
    border-radius: 0.375rem;
    .cancel {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
  .form-mandatory::after {
    content: "  *";
    font-size: 0.7rem;
  }

  span.sub-label {
    font-size: 0.7rem;
  }

  &.signup .form-control {
    padding-top:0;
    padding-bottom:0;
  }

  &.entries select {
    max-width: 95%;
  } 
}

h2 form {
  display: inline-block;
  font-size: 0.5em;
  select.sort {
    color: $gray-700;
    border: solid;
    border-color: $gray-50;
    border-width: 1px;
    background-color: $gray-50;  
  }
}

.settings-scope .form-control.number-field {
  padding-top:0;
  padding-bottom:0;
  width: 5rem;
}

.settings-scope span.fixed-width-label {
  display: inline-block;
  width: 4rem;
  margin-right: 0.25rem;
  @include media-breakpoint-up(sm) {
    width: 6rem;
  }  
}