a.buttonlike {
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem $gray-300;
  text-decoration: none;
  color: $black;
  background-color: $gray-400;
  &.text-priority {
    color: $gray-800;
    font-weight: 700;
  }
  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 1px;
  //   background-color: black;
  //   transform: scaleX(0);
  //   transform-origin: bottom left;
  //   transition: transform 0.2s ease-in-out;
  // }
  // &:hover::after,
  // &:focus::after,
  // &:active::after {
  //   transform: scaleX(1);
  // }  
  &:hover {
    box-shadow: none;
  }
  @include media-breakpoint-up(md) {
  }
}

a.disable-link {
  pointer-events: none;
}

a.option_choice {
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem $gray-800;
  text-transform: uppercase;
  border: $border-width solid $border-color;
  &:hover {
    opacity: 0.8;
    box-shadow: none;
  }  
  &.current {
      background-color: $black;
      border-color: $black;
      color: $white;    
      box-shadow: none;
      pointer-events: none;
    }  
}