a.like_button {
  border-radius: 1rem;
  line-height: 1.25;
  padding: 0 0.2rem;
  box-shadow: 0 1px $gray-700;
  text-decoration: none;
  color: black;
  &:hover {
    color: $gray-700;
  }
  @include media-breakpoint-up(md) {
     padding: 0rem 0.5rem;
    }
}

a.like_button_alt {
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem $gray-700;
  text-decoration: none;
  color: $white;
  background-color: $black;
  border-color: $black;  
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;   
  &:hover {
    opacity: 0.8;
    box-shadow: none;
  }
  @include media-breakpoint-up(md) {
  }
}

a.disable-link {
  pointer-events: none;
}

a.option_choice {
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem $gray-800;
  text-transform: uppercase;
  border: $border-width solid $border-color;
  &:hover {
    opacity: 0.8;
    box-shadow: none;
  }  
  &.current {
      background-color: $black;
      border-color: $black;
      color: $white;    
      box-shadow: none;
      pointer-events: none;
    }  
}